include requirements.txt
include README.md
include vivarium_cell/bigg_models/*.json
include vivarium_cell/data/flat/*.fa
include vivarium_cell/data/flat/*.tsv
include vivarium_cell/data/flat/media/*.tsv
include vivarium_cell/data/json_files/*.json
include vivarium_cell/reference_data/*.csv
